/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
  }
  
  /* Container */
  .features-container {
    text-align: center;
    padding: 50px;
  }
  
  /* Header */
  .header h1 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Feature Cards */
  .feature-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
  }
  
  .feature-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Feature Card Image */
  .feature-image {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-card:hover .feature-image {
    transform: scale(1.05);
  }
  
  /* Sections */
  .exam-monitor-container,
  .notifications-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
    background-color: #edf4fc;
    margin-top: 50px;
  }
  
  .study-bud-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
    background-color: #f8f9fa;
    margin-top: 50px;
  }
  
  /* Text Styling */
  .text-content {
    max-width: 600px;
    text-align: left;
  }
  
  .text-content h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
  }
  
  .text-content p {
    margin-top: 10px;
    color: #555;
    font-size: 1.2rem;
  }
  
  /* Image Styling */
  .image-container img {
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .notifications-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .notifications-container ul li {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
  }
  /* Responsive Design */
  @media (max-width: 1024px) {
    .exam-monitor-container,
    .study-bud-container,
    .notifications-container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-content {
      max-width: 100%;
    }
  
    .image-container {
      text-align: center;
      margin-top: 20px;
    }
  
    .image-container img {
      width: 85%;
    }
  }
  
  @media (max-width: 768px) {
    .feature-card-container {
      flex-direction: column;
      align-items: center;
    }
  
    .exam-monitor-container,
    .study-bud-container,
    .notifications-container {
      flex-direction: column;
      text-align: center;
      padding: 30px;
    }
  
    .text-content {
      max-width: 100%;
    }
  
    .image-container img {
      width: 95%;
    }
  }