.home-body{
    display: flex;
    background-color: rgb(234, 248, 253);;
}
.about{

    margin:50px;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(25, 25, 78);

}

.span-ele{
    color:rgb(53, 53, 190);
}


.features-head{
    margin-top:50px;
    margin-bottom:50px;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}

.feature-pts{
    
    display:flex;    
    justify-content:space-around;
    
    margin-bottom:50px;
    align-items: center; 
}

.feature-pts .pt {
    border-left: 2px solid #6d42c4; /* Vertical line */
    padding-left: 15px; /* Space between line and text */
}

.feature-pts .pt1 {
    border-right: 2px solid #6d42c4; /* Vertical line */
    padding-right: 15px; /* Space between line and text */
}

.pt li,.pt1 li{
    font-size:1.1rem;
}


.feature-img img{
    width:300px;
    height:300px;
}

.feature-img1 img{
    width:310px;
    height:310px;
}

