.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Centers items vertically */

    padding: 10px 0;
    /* Adds padding */

    font-size: 18px;
}

.website-name {
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;

}


  .header-option a {
    text-decoration: none ; /* Force remove underline */
    color: inherit ; /* Inherit color from parent */
  }
  
.header-option {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 550;
    cursor: pointer;
}

.header-arrow {
    margin-top: 50px;
    font-size: 22px;
}

.header-option:hover {
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 3px;
    text-underline-position: below;
    text-decoration-style: solid;
    text-decoration-color: rgb(55, 143, 178);
    text-decoration-skip-ink: all;
    
}

